<!DOCTYPE html>
<html lang="en">

<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1>Index</h1>
    Index of Main Directory
    <br>

    You can request the following files by either pressing the links below or changing the URL of the request
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="../css/styles.css">style.css</a></li>
        <li><a href="../img/photo.jpg">image file</a></li>
        <li><a href="../data/data.json">JSON data file</a></li>
        <li><a href="../data/data.txt">Text Data File</a></li>
        <li><a href="log.log">Request Logs</a></li>
    </ul>
</body>

</html>